<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-sm">
    <h3 style="text-align: center">用户登录</h3>
    {% if message %}
    <div class="alert alert-warning" role="alert">
        <strong>登录失败</strong> {{ message }}
    </div>
    {% endif %}

    <form action="/login/" method="post">
        <div class="form-group">
            <label>用户名</label>
            <input type="text" class="form-control" name="userame">
        </div>
        <div class="form-group">
            <label>密码</label>
            <input type="password" class="form-control" name="password">
            <small class="form-text text-muted">密码必须是字母、数字或者特殊符号组成。</small>
        </div>
        <a href="/register" class="text-success">
            <ins>新用户注册</ins>
        </a>
        <button type="submit" class="btn btn-primary float-right">登录</button>
    </form>
</div>
</body>
</html>